# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# local / temp
_inspect_crh1a/
libs/*.jar

# Files from Forge MDK
forge*changelog.txt
